source https://api.nuget.org/v3/index.json
framework: net6.0, netstandard2.0
storage: none

group Library
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core = 4.3.1
    nuget Azure.Data.Tables !~> 12.3 lowest_matching: true

group Tests
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    storage: none
    nuget FSharp.Core
    nuget Expecto
    nuget Microsoft.Extensions.Configuration.Json

group Build
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
